*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: aliceblue;
}

html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    color: aliceblue;
    /* making curser */
    /* cursor: none; */
}
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
}
#inner1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}
#inner2{
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgb(18, 15, 15);
}
#elem{
    background-color: rgb(48, 41, 42);
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
button{
    background-color: royalblue;
    padding: 20px;
    border-radius: 10px;
}