*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    color: white;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
    
#card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 300px;
    width: 400px;
    flex-direction: column;
    background-color: wheat;
    border-radius: 10px; 
    gap: 20px;   
}
#card img{
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
#card h2{
    color: black;
    background-color: transparent;
}
#card i{

    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    font-size: xxx-large;
transform: translate(0%, -50%) scale(0) rotate(-130deg);
/* transition: all ease cubic-bezier(.75,.99,.75,1.6)0.3s; */
/* transform: translate(0%, -50%) scale(0) rotate(-60deg); */
}