*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

html,
body{
    height: 100%;
    width: 100%;
    
    /* flex-direction: row; */
} 
main{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 55px;
    background-color: black;
    /* flex-direction: column; */
}
/* button{
    color: black;
    background-color: red;
    height: 50px;
    width: 90px;
    padding: 3px;
    border:none ;
    border-radius: 20px;
    position: relative;
    z-index: 9;
}

button:hover{
    /* transition: all ease-in-out 4sec; 
    background-color: black;
    color: red;
    border: 2px solid red;
     cursor: pointer; */
/* } 
button:active{
 cursor: pointer;
 scale: 0.96;
} */
 #card{
    /* height: 300px; */
    width: 500px;
    background-color: wheat;
    border-radius: 10px;
    padding:  30px;
    font-size: 20px;
    font-weight: 700;
 }
 p{
    text-align: center;
    margin-bottom: 20px;
 }
 p span{
    color: blue;
    font-weight: 600;
 }
 .outer{
    height: 10px;
    width: 100%;
    background-color: rgb(191, 191, 205);
    border-radius: 10px
 }
 .inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
    overflow: hidden;
 }
 #bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 #bottom h2{
    font-size: 60px;
    color: black;
 }
 #bottom button{
    padding: 12px 25px;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
 }
 #bottom button:active{
    scale: 0.95;
 }