*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #030303;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
#button{
    color: rgb(7, 2, 7);
    height: 8vw;
    width: 80px;
    border-radius: 30%;
    text-align: center;
    border: 2px black solid ;
    background-color: pink;
}
#box{
    background-color: pink;
    width: 50%;
    height: 50%;

}
button{
    color: black;
    background-color: red;
    border: 2PX solid black;
    border-radius: 10%;
}
h4{
    text-align: center;
    width: 30vw;
    background-color: black;
    color: white;
}
#box1{
    height: 200px;
    width: 200px;
    /* background-color: red; */
    background-color: rgb(86, 58, 58);
    border: 2px solid wheat;
    border-radius: 10%;
}
.btn{
    height: 50px;
    width: 130px;
    border: 2px solid wheat;
    border-radius: 10%;
    cursor: pointer;
}
.btn:active{
    scale: 0.93;
    background-color: blueviolet;
}