*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 204, 204);
}

html,
body{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 55px;
    /* flex-direction: column; */
    /* flex-direction: row; */
} 
body{
    background-color: black;
    overflow: hidden;
}
button{
    color: black;
    background-color: red;
    height: 50px;
    width: 90px;
    padding: 3px;
    border:none ;
    border-radius: 20px;
    position: relative;
    z-index: 9;
}
button:hover{
    
    /* transition: all ease-in-out 4sec; */
    background-color: black;
    color: red;
    border: 2px solid red;
    cursor: pointer;
}
button:active{
 cursor: pointer;
 scale: 0.96;
}